################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/InterestClubWebAPI/.vs/InterestClubWebAPI/FileContentIndex/0f5cbac4-cc46-4c2f-ad74-4e7aebc6986e.vsidx
/InterestClubWebAPI/.vs/InterestClubWebAPI/FileContentIndex/434a9b7d-f430-454a-8afc-dfdd00a09b60.vsidx
/InterestClubWebAPI/.vs/InterestClubWebAPI/FileContentIndex/8f06a33c-4004-41ae-a8ea-29ac858c6ff9.vsidx
/InterestClubWebAPI/.vs/InterestClubWebAPI/FileContentIndex/9256564d-d689-42fc-aa7f-78da01dd4ddd.vsidx
/InterestClubWebAPI/.vs/InterestClubWebAPI/FileContentIndex/b70ba55a-1f40-4d9d-8a89-af3ce48128ce.vsidx
/InterestClubWebAPI/.vs/InterestClubWebAPI/FileContentIndex/d5c78310-3e7b-4e41-a28e-00b9321b4db1.vsidx
/InterestClubWebAPI/.vs/InterestClubWebAPI/v17/.suo
/InterestClubWebAPI/.vs/InterestClubWebAPI/v17/DocumentLayout.json
